
body{
    background-color: #292E38;
    margin: 0px;

}
#header{
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-image: url("assets/background.jpg"); 
    text-align: center;
    /* padding-top: 10%; */

}


p{
    color: aliceblue;
    font-size: 400%;
    /* border: 2px solid green; */
}
#container p {
    color : black;  
    margin: 5px;  
    font-size: 100%;
}

span{
    font-style: oblique;
}


#logo{   
   /* border: 2px solid green; */
   height: 150px;
   width: 150px;
   padding-top: 10%;
}

.image{
    border-radius: 10%;
    
    width: 40%;
    margin:3px;

}

#container {  
    /* border: 2px solid rgb(0, 255, 221); */
    background-color: rgb(255, 255, 255);
    margin: 50px auto;
    width: 70%;
    

    
}

.row{
    
    width: 1OO%;
    display: inline-flex;
    /* border: 2px solid rgb(240, 33, 136); */
    margin: 2px;
    background-color: rgb(255, 255, 255);
}


